/* .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  section.categorias {
    width: 100%; 
    padding: 70px 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
  } */

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden; /* Adicionado para evitar overflow horizontal */
}

section.categorias {
    width: 100%;
    padding: 70px 50px;
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}
