@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --source-sans: "Source Sans 3", sans-serif;
  --verde: rgb(0, 200, 80);
  --branco: rgba(245, 245, 245, 1);
  --frontend: rgb(123, 197, 154);
  --backend: rgb(138,216,252);
  --mobile: rgb(255, 207, 85);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--source-sans);
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /* min-width: 1440px; OBSERVAR SE VAI BUGAR */
  /* background-color: rgba(0, 0, 0, 0.9); */
  background: linear-gradient(174.61deg, #0e100f 14.16%, #011707 78%, #011b07 96.76%);

  color: var(--branco);
  line-height: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}





/* BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color:  rgba(28, 31, 30, 1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--verde);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color:  rgba(28, 31, 30, 1);
}